
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sweetalert/css")
    <link href="~/Content/css/changePassword.css" rel="stylesheet" />
    <title>ChangePassword</title>
</head>
<body>
    <div class="col-12 col-sm-12 col-md-12 d-flex flex-column justify-content-center align-items-center p-0">
        <form id="formVerifyAccount" class="col-10 col-sm-8 col-md-8 p-4 wrapper">
            <h4>Account Verification</h4>
            <div>
                @{ var questions = ViewBag.questions;
                                int count = 1;
                                foreach (var question in questions)
                                {
                                    string questionNo = "authQuestion" + @count;
                    <span>@question</span>
                                    <div class="input-box">
                                        <input id=@questionNo name=@questionNo required />
                                    </div> count++;

                                                } }
            </div>
            <div class="align-self-end">
                <a href="@Url.Action("Index", "Home")" role="button" class="btn btn-secondary mr-2 btnCancel">Cancel</a>
                <button id="btnConfirm" type="submit" class="btn btn-primary text-light">Confirm</button>
            </div>
        </form>

        <form id="formChangePassword" class="col-10 col-sm-8 col-md-8 p-4 wrapper" style="display: none">
            <h4>Change Password</h4>
            <div>
                <span>Password</span>
                <div class="input-box">
                    <input id="currPass" name="currPass" type="password" maxlength="50" />
                </div>
                <span>New Password</span>
                <div class="input-box">
                    <input id="newPass" name="newPass" type="password" maxlength="50" />
                </div>
                <span>Confirm Password</span>
                <div class="input-box">
                    <input id="confirmPass" name="confirmPass" type="password" maxlength="50" />
                </div>
            </div>
            <div class="align-self-end">
                <a href="@Url.Action("Index", "Home")" role="button" class="btn btn-secondary mr-2 btnCancel">Cancel</a>
                <button id="btnSave" type="submit" class="btn btn-primary text-light">Save changes</button>
            </div>
        </form>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert/js")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/js/changePassword.js"></script>
</body>
</html>
