
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor Appointment System</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sweetalert/css")
    <link href="~/Content/css/profile.css" rel="stylesheet" />
</head>

<body>
    <div class="container rounded bg-white mt-5 mb-5">
        <a href="" role="button" class="text-muted btn-back-to-home">
            <i class="fas fa-home"></i> <span class="text-weight-light">Back to home</span>
        </a>
        <div class="row custom-profile-wrapper">
            <div class="col-12 col-md-12">
                <div class="p3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="mt-2">
                        <form class="col-12 col-md-12">
                            <div class="content-wrapper row">
                                <div class="form-group avatar-wrapper col-12 col-sm-12 col-md-4">
                                    <div class=" d-flex flex-wrap justify-content-center align-items-center flex-column custom-logo-wrapper">
                                        <div class="custom-site-logo">
                                            <img src="/img/person-avatar-02.png" alt="" class="img-avatar" />
                                        </div>
                                        <p class="mt-4 pr-5 pl-5 text-center" style="line-height: 1.2;">
                                            <small>
                                                <i>
                                                    "Personalize your account with a photo. Your profile photo will
                                                    appear
                                                    on apps and devices that use your account."
                                                </i>
                                            </small>
                                        </p>
                                        <button class="btn btn-secondary btn-m mt-3 btn-change-img">
                                            Change
                                            photo
                                        </button>

                                    </div>
                                </div>
                                <div class="info-wrapper col-12 col-sm-12 col-md-8">
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-address-book"></i></span>
                                        </div>
                                        <input id="fullName" name="" class="form-control custom-input" disabled autocomplete="off"
                                               placeholder="Full name (*)" type="text" pattern="^[\p{L}\p{N}\s]*$">
                                    </div> <!-- Full name -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        <input id="email" name="" class="form-control custom-input" disabled autocomplete="off"
                                               placeholder="Email address (*)" type="email">
                                    </div> <!-- Email -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-address-card"></i></span>
                                        </div>
                                        <input id="nationalID" name="" class="form-control custom-input" disabled autocomplete="off"
                                               placeholder="National ID (*)" type="text" pattern="^[a-zA-Z0-9]+$">
                                    </div> <!-- National ID -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"> <i class="fa fa-birthday-cake"></i> </span>
                                        </div>
                                        <input placeholder="Date of birth (*)" class="form-control custom-input" disabled autocomplete="off"
                                               type="text" id="dateOfBirth">
                                    </div><!-- Date of birth -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-venus-mars"></i></span>
                                        </div>
                                        <input id="gender" type="text" class="form-control custom-input" placeholder="Enter gender" disabled autocomplete="off">
                                    </div> <!-- Gender -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-phone"></i></span>
                                        </div>
                                        <input id="phoneNumber" name="" class="form-control custom-input" disabled autocomplete="off"
                                               placeholder="Phone number (*)" type="text"
                                               pattern="(84|0[3|5|7|8|9])+([0-9]{8})\b" maxlength="10">
                                    </div> <!-- Phone number -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-home"></i></span>
                                        </div>
                                        <input id="address" name="" class="form-control custom-input" disabled autocomplete="off"
                                               placeholder="Address (*)" type="text" pattern="^[\p{L}\p{N}\s]*$">
                                    </div> <!-- Address -->
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 mt-5 d-flex justify-content-center">
                                    <a id="btnCancel" class="btn btn-danger mr-4 text-light" role="button">Cancel</a>
                                    <a id="btnSave" class="btn btn-success text-light" role="button">Save Changes</a>
                                    <a id="btnEdit" class="btn btn-primary text-light" role="button">Edit</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert/js")
    <script src="~/Scripts/js/profile.js"></script>
</body>
</html>