
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/css/register.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css">
    @Styles.Render("~/Content/sweetalert/css")
</head>
<body>
    <div id="register-wrapper">
        <div class="container">
            <div class="card">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Create Account</h4>
                    <form class="register-form d-flex flex-column justify-content-center">
                        <p class="divider-text">
                            <span class="bg-light">Account information</span>
                        </p>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input id="username" class="form-control" placeholder="Username (*)" type="text" pattern="^[a-zA-Z0-9]+$">
                        </div> <!-- Username -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input id="password" class="form-control" placeholder="Password (*)" type="password" pattern="^\S+$">
                        </div> <!-- Password -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <input id="confirmPassword" class="form-control" placeholder="Confirm password (*)" type="password" pattern="^\S+$">
                        </div> <!-- Confirm password -->

                        <div class="authQuestions form-group mt-3">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-sharp fa-solid fa-circle-question"></i></span>
                                </div>
                                @Html.DropDownList("AuthQuestion", ViewBag.questions as SelectList, "Select the first authentication question (*)", new { @class = "form-control custom-select authQuestion", @id = "authQuestion1" })
                            </div> <!-- Password Recovery Question 1-->

                            <div class="form-group input-group">
                                <input id="answer1" name="" class="form-control" placeholder="Answer 1 (*)" type="text" pattern="^[\p{L}\p{N}\s]*$">
                            </div> <!-- Answer 1 -->
                        </div>

                        <div class="authQuestions form-group">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-sharp fa-solid fa-circle-question"></i></span>
                                </div>
                                @Html.DropDownList("AuthQuestion", ViewBag.questions as SelectList, "Select the second authentication question(*)", new { @class = "form-control custom-select authQuestion", @id = "authQuestion2" })
                            </div> <!-- Password Recovery Question 2-->

                            <div class="form-group input-group">
                                <input id="answer2" name="" class="form-control" placeholder="Answer 2 (*)" type="text" pattern="^[\p{L}\p{N}\s]*$">
                            </div> <!-- Answer 2 -->
                        </div>

                        <div class="authQuestions form-group">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-sharp fa-solid fa-circle-question"></i></span>
                                </div>
                                @Html.DropDownList("AuthQuestion", ViewBag.questions as SelectList, "Select the third authentication question (*)", new { @class = "form-control custom-select authQuestion", @id = "authQuestion3" })
                            </div> <!-- Password Recovery Question 3-->

                            <div class="form-group input-group">
                                <input id="answer3" name="" class="form-control" placeholder="Answer 3 (*)" type="text" pattern="^[\p{L}\p{N}\s]*$">
                            </div> <!-- Answer 3 -->
                        </div>
                        <p class="divider-text">
                            <span class="bg-light">Personal information</span>
                        </p>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-address-book"></i></span>
                            </div>
                            <input id="fullName" name="" class="form-control" placeholder="Full name (*)" type="text" pattern="^[\p{L}\p{N}\s]*$">
                        </div> <!-- Full name -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                            <input id="email" name="" class="form-control" placeholder="Email address (*)" type="email">
                        </div> <!-- Email -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                            </div>
                            <input id="nationalID" name="" class="form-control" placeholder="National ID (*)" type="text" pattern="^[a-zA-Z0-9]+$">
                        </div> <!-- National ID -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-birthday-cake"></i> </span>
                            </div>
                            <input placeholder="Date of birth (*)" class="form-control" type="text" onfocus="(this.type='date')" onblur="this.type='text'" id="dateOfBirth">
                        </div>  <!-- Date of birth -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
                            </div>
                            @Html.DropDownList("Gender", ViewBag.genders as SelectList, "Gender (*)", new { @class = "form-control custom-select gender", @id = "gender" })
                        </div> <!-- Gender -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-phone"></i></span>
                            </div>
                            <input id="phoneNumber" name="" class="form-control" placeholder="Phone number (*)" type="text" pattern="(84|0[3|5|7|8|9])+([0-9]{8})\b" maxlength="10">
                        </div> <!-- Phone number -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-home"></i></span>
                            </div>
                            <input id="address" name="" class="form-control" placeholder="Address (*)" type="text" pattern="^[\p{L}\p{N}\s]*$">
                        </div> <!-- Address -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-camera"></i></span>
                            </div>
                            <input name="" id="pictureName" readonly class="form-control" placeholder="Choose your profile picture" type="text" onclick="document.getElementById('profilePicture').click()">
                            <input name="" id="profilePicture" class="form-control" type="file" accept="image/*" style="display:none">
                        </div> <!-- Profile picture -->

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
                        </div> <!-- Submit button -->

                        <p class="text-center">Already have an account? <a href="@Url.Action("Login")">Log In</a> </p>

                    </form>
                </article>
            </div> <!-- card.// -->
        </div>
    </div>

    <!-- Set value for input Profile picture -->
    <script>
        $(document).ready(function () {
            $('#profilePicture').change(function () {
                var i = $('#pictureName').clone();
                var file = $('#profilePicture')[0].files[0].name;
                $('#pictureName').val(file);
            });
        });
    </script>
    <!--container end.//-->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert/js")
    <script src="~/Scripts/js/register.js"></script>
</body>
</html>
