
@{
    ViewBag.Title = "Patient Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/select2/css")
@Styles.Render("~/Content/admin/patient")

<h3 class="text-center mt-2 font-weight-bold">Patient Management</h3>

<hr />

<div class="content-wrapper">
    @* Create patient *@
    <div id="create-patient-page" style="" class="container justify-content-center  bg-white">
        <div id="error-message"></div>
        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow border border-primary">
                <div class="card-header bg-primary p-0 ">
                    <h4 class="text-center text-light">Create Partient</h4>
                </div>
                <div class="card-body">
                    <form id="form-create-patient" class="form-group" autocomplete="off">
                        <p class="divider-text">
                            <span class="bg-light">Patient account information</span>
                        </p>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-address-book"></i></span>
                            </div>
                            <input type="text" class="form-control" id="patientname" name="patientname" placeholder="Patient name (*)" maxlength="50">
                        </div><!-- Patientname -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="username" name="username" placeholder="User name (*)" maxlength="256">
                        </div><!-- Username -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control paswd-on-off" id="password" name="password" placeholder="Password (*)" maxlength="50">
                        </div><!-- Password -->
                        <div class="form-check form-group  input-group">
                            <input type="checkbox" class="form-check-input" id="check-show-password" onclick="showPass()">
                            <label class="form-check-label mt-0 pt-0 h6 text-secondary" for="check-show-password">Show password</label>
                        </div><!-- Check Box Show Password  -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-venus-mars"></i></span>
                            </div>
                            @Html.DropDownList("Gender", ViewBag.genders as SelectList, "Gender (*)", new { @class = "form-control custom-select  ", @id = "gender" })
                        </div><!-- Gender -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-address-card"></i></span>
                            </div>
                            <input type="text" class="form-control" id="nationalid" name="nationalid" onkeypress="return isNumberKey(event)" placeholder="National ID (*)" maxlength="10">
                        </div><!-- National id -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-birthday-cake"></i></span>
                            </div>
                            <input placeholder="Date of birth (*)" class="form-control" type="text" onfocus="(this.type='date')" onblur="this.type='text'" id="brithofdate" name="brithofdate" maxlength="10">
                        </div><!-- brith of date -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" id="mobile" name="mobile" onkeypress="return isNumberKey(event)" placeholder="Mobile No (*)">
                        </div><!-- mobile -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-solid fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email (*)" maxlength="50">
                        </div><!-- Email -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-home"></i></span>
                            </div>
                            <textarea rows="3" class="form-control" id="address" name="address" placeholder="Address (*)" maxlength="256"></textarea>
                        </div><!-- Address -->

                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Create">
                            <btn id="btn-close-form" class="btn btn-secondary"> Cancel </btn>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    @* index patient *@
    <div id="list-patient-page" style=" " class="container justify-content-center  bg-white">
        <div class=" container-fluid " style="width: auto">
            <btn id="btn-open-form" class=" btn btn-sm btn-primary mb-3 "> Add Partient </btn>
            <div class="row">
                <div class="col-12 card shadow p-3">
                    <table id="PatientTable" class=" dt-responsive  display nowrap" cellspacing="0" width="100%" style=" margin : auto">
                    </table>
                </div>
            </div>

        </div>

    </div>
    @* Update patient *@
    <div id="update-patient-page" style=" " class="container justify-content-center  bg-white">
        <div id="error-message-update">

        </div>
        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow border border-primary">
                <div class="card-header bg-primary p-0">
                    <h4 class="text-center text-light ">Update Partient</h4>
                </div>
                <div class="card-body">

                    <form id="form-update-patient" class="form-group" autocomplete="off">
                        <p class="divider-text">
                            <span class="bg-light">Patient account information</span>
                        </p>
                        <input type="text" hidden id="upatientid">
                        <!-- Patient ID -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text "><i class="fa fa-address-book"></i></span>
                            </div>
                            <input type="text" class="form-control" id="upatientname" name="upatientname" placeholder="Patient name (*)" maxlength="50">
                        </div><!-- Patientname -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text "><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="uusername" name="uusername" disabled>
                        </div><!-- Username -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
                            </div>
                            @Html.DropDownList("uGender", ViewBag.genders as SelectList, "Gender (*)", new { @class = "form-control custom-select  ", @id = "ugender" })
                        </div><!-- Gender -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text "><i class="fa fa-address-card"></i></span>
                            </div>
                            <input type="text" class="form-control" id="unationalid" name="unationalid" onkeypress="return isNumberKey(event)" placeholder="National ID (*)" maxlength="10">
                        </div><!-- National id -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text "><i class="fa fa-birthday-cake"></i></span>
                            </div>
                            <input placeholder="Date of birth (*)" class="form-control" type="text" onfocus="(this.type='date')" onblur="this.type='text'" id="ubrithofdate" name="ubrithofdate">
                        </div><!-- brith of date -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text "><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" id="umobile" name="umobile" onkeypress="return isNumberKey(event)" placeholder="Mobile No (*)" maxlength="10">
                        </div><!-- mobile -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text "><i class="fa-solid fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" id="uemail" name="uemail" placeholder="Email (*)" maxlength="50">
                        </div><!-- Email -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text "><i class="fa fa-home"></i></span>
                            </div>
                            <textarea rows="3" class="form-control" id="uaddress" name="uaddress" placeholder="Address (*)" maxlength="256"></textarea>
                        </div><!-- Address -->

                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Update">
                            <btn id="btn-close-form-update" class="btn btn-secondary">Cancel</btn>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/admin/patient")

}
