@{
    ViewBag.Title = "Home Page";
}

<style>
    .dataTables_wrapper .dataTables_filter input {
        max-height: 30px;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button{
        padding: 3px 1em;
    }
</style>

<!-- Carousel -->
@Html.Partial("_CarouselView")

<!-- Search form -->
<div>
    <div class="col-12">
        <form method="GET" class="form-inline custom-mb-80 custom-search-form">
            <input class="form-control custom-search-input" name="query" type="text" placeholder="Search..."
                   aria-label="Search" />
            <button class="custom-search-button" type="submit">
                <i class="fas fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>

<div class="row">
    <!-- Status -->
    <article class="col-12 col-md-5 custom-post">
        <hr class="custom-hr-primary" />
        <h4>Status</h4>
        <div class="custom-status-wrapper d-flex flex-wrap justify-content-center">
            <div class="custom-card">
                <div class="custom-card-body d-flex flex-nowrap justify-content-between align-items-center">
                    <div class="col-8 col-md-8">
                        <p id="allDoctors">@ViewBag.allDoctors</p>
                        <span class="custom-card-title">All Doctors</span>
                    </div>
                    <span class="col-3 col-md-3 custom-card-icon text-center">
                        <i class="fas fa-users"></i>
                    </span>
                </div>
            </div>

            <div class="custom-card">
                <div class="custom-card-body d-flex flex-nowrap justify-content-between align-items-center">
                    <div class="col-8 col-md-8">
                        <p id="allBooking">@ViewBag.allBooking</p>
                        <span class="custom-card-title">All Booking</span>
                    </div>
                    <span class="col-3 col-md-3 custom-card-icon text-center">
                        <i class="fas fa-wheelchair"></i>
                    </span>
                </div>
            </div>

            <div class="custom-card">
                <div class="custom-card-body d-flex flex-nowrap justify-content-between align-items-center">
                    <div class="col-8 col-md-8">
                        <p id="newBooking">@ViewBag.newBooking</p>
                        <span class="custom-card-title">New Booking</span>
                    </div>
                    <span class="col-3 col-md-3 custom-card-icon text-center">
                        <i class="far fa-bookmark"></i>
                    </span>
                </div>
            </div>

            <div class="custom-card">
                <div class="custom-card-body d-flex flex-nowrap justify-content-between align-items-center">
                    <div class="col-8 col-md-8">
                        <p id="todaySessions">@ViewBag.todaySessions</p>
                        <span class="custom-card-title">Today Sessions</span>
                    </div>
                    <span class="col-3 col-md-3 custom-card-icon text-center">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        </div>
    </article>

    <article class="col-12 col-md-7 custom-post">
        <hr class="custom-hr-primary" />
        <h4>Your Upcoming Booking</h4>
        <div class="container-fluid pt-3 content-wrapper table-responsive" style="font-size: 1em">
            <table id="upcomingTbl" class="dt-responsive display nowrap">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </article>
</div>

@section scripts{
    <script type="text/javascript">
        /*Using AJAX to display data of DEPARTMENT TABLE*/
        var table = $("#upcomingTbl").DataTable({
            "ajax": {
                "responsive": true,
                "url": '/ScheduleOfDoctors/LoadAllSchedule',
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                {
                    "className": 'dt-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '',
                },
                {
                    "data": "doctorName",
                    "title": 'Doctor Name',
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "speciality",
                    "title": 'Speciality',
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "gender",
                    "title": 'Gender',
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "workingDay",
                    "title": 'Appointment Day',
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "availableTime",
                    "title": 'Available Time',
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "consultantTime",
                    "title": 'Consultant Time',
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "responsivePriority": 1,
                    "data": "scheduleID",
                    "title": "Action",
                    "autoWidth": true,
                    "searchable": true,
                    "render": function (data, type, row) {
                        return type === 'display' ? '<a data-doctorid="' + row.doctorID + '" data-scheduleid="' + data + '" class="btn btn-outline-primary btn-sm ml-1 btn-appointment" role="button" data-toggle="modal" data-target="#makeAppointmentModal"><i class="fa-regular fa-calendar-plus"></i></div>' : data;
                    }
                }
            ]
        });

        // Get schedule of doctors to display on screen
        function loadSchedule() {
            table.ajax.reload();
        }
    </script>
}