
@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ml-2">Dashboard</h2>


<div class="row m-2">
    <!-- Status -->
    <article class="col-12 col-md-5 custom-post">
        <hr class="custom-hr-primary" />
        <h4>Status</h4>
        <div class="custom-status-wrapper d-flex flex-wrap justify-content-center mt-5">
            <div class="custom-card" style="min-width:180px;">

                <div class="row custom-card-body d-flex flex-wrap justify-content-between align-items-center">

                    <div class="col-8 col-md-8">
                        <a href="@Url.Action("Index", "DoctorManage", new {area = "Admin"})">
                            <p class="h3">@ViewBag.DoctorCount </p>
                            <h5 class="custom-card-title">All Doctors</h5>
                        </a>
                    </div>

                    <span class="col-3 col-md-3 custom-card-icon text-center">
                        <i class="fas fa-users"></i>
                    </span>
                </div>

            </div>

            <div class="custom-card " style="min-width: 180px;  ">

                <div class="row custom-card-body d-flex flex-wrap justify-content-between align-items-center">

                    <div class="col-8 col-md-8">
                        <a href="@Url.Action("Index", "PatientManage", new {area = "Admin"})">

                            <p class="h3">@ViewBag.PatientCount</p>
                            <h5 class="custom-card-title">All Patients</h5>
                        </a>

                    </div>

                    <span class="col-3 col-md-3 custom-card-icon text-center">
                        <i class="fas fa-wheelchair"></i>
                    </span>
                </div>

            </div>

            <div class="custom-card" style="min-width: 180px; ">
                <div class="custom-card-body d-flex flex-nowrap justify-content-between align-items-center">
                    <div class="col-8 col-md-8">
                        <p class="h3">@ViewBag.TodayAppointment</p>
                        <span class="custom-card-title h5">Today Appointment</span>
                    </div>
                    <span class="col-3 col-md-3 custom-card-icon text-center">
                        <i class="far fa-bookmark"></i>
                    </span>
                </div>
            </div>

            <div class="custom-card " style="min-width: 180px; ">
                <div class="custom-card-body d-flex flex-nowrap justify-content-between align-items-center " >
                    <div class="col-8 col-md-8">
                        <a href="@Url.Action("Index", "AppointmentManage", new {area = "Admin"})">
                            <p class="h3">@ViewBag.AppointmentTillDate</p>
                            <span class="custom-card-title h5">All Appointment</span>
                        </a>
                    </div>
                    <span class="col-3 col-md-3 custom-card-icon text-center">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                </div>
            </div>
        </div>
    </article>

    <article class="col-12 col-md-7 custom-post">
        <hr class="custom-hr-primary" />
        @{
            var today = DateTime.Now;

            var thisWeekStart = today.AddDays(-(int)today.DayOfWeek + 1);
            var thisWeekEnd = thisWeekStart.AddDays(7).AddSeconds(-1);
        }
        <h4>Booking (@thisWeekStart.ToShortDateString() - @thisWeekEnd.ToShortDateString())</h4>
        <div class="container-fluid pt-3 content-wrapper table-responsive" style="font-size: 1em">

            <div>
                <canvas id="myChart"></canvas>
            </div>

        </div>
    </article>

</div>



@section scripts{
    @Scripts.Render("~/bundles/admin/chart")
    @Scripts.Render("~/bundles/admin/dashboard")


}
