
@{
    ViewBag.Title = "Doctor Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center mt-2 font-weight-bold">Doctor Management</h3>

<hr />

<div class="">
    @* Create doctor *@
    <div id="l-form-doctor" style=" " class="container justify-content-center  bg-white">
        <div id="error-message"> </div>
        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow">

                <div class="card-header bg-primary ">
                    <h4 class="text-center text-light">Create Doctor</h4>
                </div>
                <div class="card-body">
                    <form id="form-create-doctor" class="form-group">
                        <div class="form-group">
                            <label for="doctorname" class="control-label">Doctor Name</label>
                            <input type="text" class="form-control" id="doctorname" placeholder="Doctor name">
                        </div>
                        <div class="form-group">
                            <label for="username" class="control-label">User Name</label>
                            <input type="text" class="form-control" id="username" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="nationalid" class="control-label">National ID</label>
                            <input type="text" class="form-control" id="nationalid" placeholder="National ID">
                        </div>
                        <div class="form-group">
                            <label for="department" class="control-label">Department</label>

                            @Html.DropDownList("Department",
                                 ViewBag.department as SelectList,
                                 new { @class = "form-control", @id = "department" })

                        </div>
                        <label for="" class="control-label">Gender</label>
                        <div class="form-group form-check">
                            <input class="form-check-input radio-gender" type="radio" name="gender" id="Radios1" value="Male" checked>
                            <label class="form-check-label" for="Radios1">
                                Male
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input radio-gender" type="radio" name="gender" id="Radios2" value="Female">
                            <label class="form-check-label" for="eRadios2">
                                Female
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="brithofdate" class="control-label">Date of birth</label>
                            <input type="date" class="form-control" id="brithofdate" value="2000-01-01">
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="control-label">Mobile No</label>
                            <input type="text" class="form-control" id="mobile" placeholder="Mobile No">
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="address" class="control-label">Address</label>
                            <textarea type="date" rows="4" class="form-control" id="address" placeholder="Address"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="specialy" class="control-label">Specialy</label>
                            <input type="text" class="form-control" id="specialy" placeholder="Specialy">
                        </div>
                        <div class="form-group">
                            <label for="loginlockdate" class="control-label">Login lock date</label>
                            <input type="date" class="form-control" id="loginlockdate" placeholder="Specialy">
                        </div>
                        <div class="form-group">
                            <label for="workingstartdate" class="control-label">Working start date</label>
                            <input type="date" class="form-control" id="workingstartdate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="form-group">
                            <label for="workingenddate" class="control-label">Working end date</label>
                            <input type="date" class="form-control" id="workingenddate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Create">
                            <btn id="btn-close-form" class="btn btn-secondary"> Cancel </btn>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>
    @* index doctor *@
    <div id="table-list-doctor" style=" " class="container justify-content-center  bg-white">
        <div class=" container-fluid " style="width: auto">
            <btn id="btn-open-form" class=" btn btn-sm btn-primary mb-3 "> Add Doctor </btn>
            <div class="row">
                <div class="col-12 card shadow p-3">
                    <table id="DoctorTable" class=" dt-responsive  display nowrap" cellspacing="0" width="100%" style=" margin : auto">
                    </table>
                </div>
            </div>

        </div>

    </div>
    @* Update doctor *@
    <div id="form-update-doctor" style=" " class="container justify-content-center  bg-white">
        <div id="error-message-update">

        </div>
        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow">
                <div class="card-header bg-primary">
                    <h4 class="text-center text-light">Update Doctor</h4>
                </div>
                <div class="card-body">
                    <form id="form-edit-doctor" class="form-group">
                        <div class="form-group">

                            <input type="text" class="form-control" hidden id="udoctorid">
                        </div>
                        <div class="form-group">
                            <label for="udoctorname" class="control-label">Doctor Name</label>
                            <input type="text" class="form-control" id="udoctorname" placeholder="Doctor name">
                        </div>
                        <div class="form-group">
                            <label for="department" class="control-label">Department</label>

                            @Html.DropDownList("Department",
                                 ViewBag.department as SelectList,
                                 new { @class = "form-control", @id = "udepartment" })

                        </div>
                        <label for="" class="control-label">Gender</label>
                        <div class="form-group form-check">
                            <input class="form-check-input uradio-gender" type="radio" name="ugender" id="uRadios1" value="Male">
                            <label class="form-check-label" for="uRadios1">
                                Male
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <input class="form-check-input uradio-gender" type="radio" name="ugender" id="uRadios2" value="Female">
                            <label class="form-check-label" for="uRadios2">
                                Female
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="ubrithofdate" class="control-label">Date of birth</label>
                            <input type="date" class="form-control" id="ubrithofdate" value="2000-01-01">
                        </div>
                        <div class="form-group">
                            <label for="umobile" class="control-label">Mobile No</label>
                            <input type="text" class="form-control" id="umobile" placeholder="...">
                        </div>
                        <div class="form-group">
                            <label for="uaddress" class="control-label">Address</label>
                            <textarea type="date" rows="4" class="form-control" id="uaddress" placeholder="..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="uworkingstartdate" class="control-label">Working start date</label>
                            <input type="date" class="form-control" id="uworkingstartdate">
                        </div>
                        <div class="form-group">
                            <label for="uworkingenddate" class="control-label">Working end date</label>
                            <input type="date" class="form-control" id="uworkingenddate">
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Update">
                            <btn id="btn-close-form-update" class="btn btn-secondary">Cancel</btn>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="accept-delete-doctor" tabindex="-1" role="dialog" aria-labelledby="accept-delete-doctorTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accept-delete-doctorTitle">Delete doctor ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You want to delete doctor <strong id="doctorname-delete"></strong> ?
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-accept-delete-doctor" data-dismiss="modal" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>

<!--Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="messageContent"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/admin/doctor")

}



