
@{
    ViewBag.Title = "Doctor Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Styles.Render("~/Content/select2/css")
@Styles.Render("~/Content/admin/doctor")



<h3 class="text-center mt-2 font-weight-bold">Doctor Management</h3>

<hr />

<div class="content-wrapper">
    @* Create doctor *@
    <div id="l-form-doctor" style=" " class="container justify-content-center  bg-white">
        <div id="error-message"> </div>
        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow border border-primary">

                <div class="card-header bg-primary p-0">
                    <h4 class="text-center text-light">Create Doctor</h4>
                </div>
                <div class="card-body">
                    <form id="form-create-doctor" class="form-group" autocomplete="off">
                        <p class="divider-text">
                            <span class="bg-light">Doctor account information</span>
                        </p>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-address-book"></i></span>
                            </div>
                            <input id="doctorname" name="doctorname" class="form-control " placeholder="Doctor Name (*)" type="text" pattern="^[a-zA-Z0-9]+$" maxlength="50">
                        </div><!-- Doctorname -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="username" name="username" placeholder="User name (*)" maxlength="256">
                        </div><!-- Username -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-lock"></i></span>
                            </div>
                            <input type="password" class="form-control paswd-on-off" id="password" name="password" placeholder="Password (*)" maxlength="50">
                        </div><!-- Password -->
                        <div class="form-check form-group  input-group">
                            <input type="checkbox" class="form-check-input" id="check-show-password" onclick="showPass()">
                            <label class="form-check-label mt-0 pt-0 h6 text-secondary" for="check-show-password">Show password</label>
                        </div><!-- Check Box Show Password  -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-address-card"></i></span>
                            </div>
                            <input type="text" class="form-control" id="nationalid" name="nationalid" onkeypress="return isNumberKey(event)" placeholder="National ID (*)" maxlength="10">
                        </div><!-- Nationalid -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-solid fa-building-user"></i></span>
                            </div>
                            <div class="form-control department-box">
                                @Html.DropDownList("Department", ViewBag.department as SelectList, "Department (*)", new { @class = "form-control custom-select deparment-select", @id = "department" })
                            </div>
                            <div id="department-error-message"></div>
                        </div> <!-- Department -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-venus-mars"></i></span>
                            </div>
                            @Html.DropDownList("Gender", ViewBag.genders as SelectList, "Gender (*)", new { @class = "form-control custom-select ", @id = "gender" })
                        </div> <!-- Gender -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-birthday-cake"></i></span>
                            </div>
                            <input placeholder="Date of birth (*)" class="form-control" type="text" onfocus="(this.type='date')" onblur="this.type='text'" id="brithofdate" name="brithofdate">

                        </div> <!-- brithofdate -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" id="mobile" name="mobile" onkeypress="return isNumberKey(event)" placeholder="Mobile No (*)" maxlength="10">
                        </div><!-- mobile -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-solid fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email (*)">
                        </div> <!-- email -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-home"></i></span>
                            </div>
                            <textarea rows="3" class="form-control" id="address" name="address" placeholder="Address (*)" maxlength="256"></textarea>
                        </div> <!-- address -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-solid fa-syringe"></i></span>
                            </div>
                            <input type="text" class="form-control" id="specialy" name="specialy" placeholder="Specialty (*)" maxlength="256">
                        </div> <!-- Specialty -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-sharp fa-solid fa-briefcase"></i></span>
                            </div>
                            <input placeholder="Working start date (*)" type="text" class="form-control" id="workingstartdate" name="workingstartdate" onfocus="(this.type='date')" onblur="this.type='text'">
                        </div> <!-- workingstartdate -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-sharp fa-solid fa-briefcase"></i></span>
                            </div>
                            <input placeholder="Working end date (*)" type="text" class="form-control" id="workingenddate" name="workingenddate" onfocus="(this.type='date')" onblur="this.type='text'">
                        </div> <!-- workingenddate -->
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Create">
                            <btn id="btn-close-form" class="btn btn-secondary"> Cancel </btn>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @* index doctor *@
    <div id="table-list-doctor" style=" " class="container justify-content-center  bg-white">
        <div class=" container-fluid " style="width: auto">
            <btn id="btn-open-form" class=" btn btn-sm btn-primary mb-3 "> Add Doctor </btn>
            <div class="row">
                <div class="col-12 card shadow p-3">
                    <table id="DoctorTable" class=" dt-responsive  display nowrap" cellspacing="0" width="100%" style=" margin : auto">
                    </table>
                </div>
            </div>
        </div>
    </div>
    @* Update doctor *@
    <div id="form-update-doctor" style=" " class="container justify-content-center  bg-white">
        <div id="error-message-update">

        </div>
        <div class="row  justify-content-center">
            <div class="col-8 card p-0 shadow border border-primary">
                <div class="card-header bg-primary p-0">
                    <h4 class="text-center text-light">Update Doctor</h4>
                </div>
                <div class="card-body">
                    <form id="form-edit-doctor" class="form-group" autocomplete="off">
                        <p class="divider-text">
                            <span class="bg-light">Doctor account information</span>
                        </p>
                        <div class="form-group">

                            <input type="text" class="form-control " hidden id="udoctorid">
                        </div><!--Update DoctorID -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text lcustom-symbol"><i class="fa fa-address-book"></i></span>
                            </div>
                            <input id="udoctorname" name="udoctorname" class="form-control" placeholder="Doctor Name (*)" type="text" pattern="^[a-zA-Z0-9]+$" maxlength="50">
                        </div><!--Update Doctorname -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="uusername" disabled>
                        </div><!--Update Username -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-address-card"></i></span>
                            </div>
                            <input type="text" class="form-control" id="unationalid" name="unationalid" onkeypress="return isNumberKey(event)" placeholder="National ID (*)" maxlength="10">
                        </div><!--Update Nationalid -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-solid fa-building-user"></i></span>
                            </div>
                            <div class="form-control department-box">
                                @Html.DropDownList("uDepartment", ViewBag.department as SelectList, new { @class = "form-control custom-select deparment-select", @id = "udepartment" })
                            </div>
                            <div id="udepartment-error-message"></div>
                        </div> <!--Update Department -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-venus-mars"></i></span>
                            </div>
                            @Html.DropDownList("uGender", ViewBag.genders as SelectList, "Gender (*)", new { @class = "form-control custom-select ", @id = "ugender" })
                        </div> <!--Update Gender -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-birthday-cake"></i></span>
                            </div>
                            <input placeholder="Date of birth (*)" class="form-control" type="text" onfocus="(this.type='date')" onblur="this.type='text'" id="ubrithofdate" name="ubrithofdate">

                        </div> <!--Update brithofdate -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control" id="umobile" name="umobile" onkeypress="return isNumberKey(event)" placeholder="Mobile No (*)" maxlength="10">
                        </div><!--Update mobile -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-solid fa-envelope"></i></span>
                            </div>
                            <input type="email" class="form-control" id="uemail" name="uemail" placeholder="Email (*)" maxlength="50">
                        </div> <!--Update email -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa fa-home"></i></span>
                            </div>
                            <textarea rows="3" class="form-control" id="uaddress" name="uaddress" placeholder="Address (*)" maxlength="256"></textarea>
                        </div> <!--Update address -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-solid fa-syringe"></i></span>
                            </div>
                            <input type="text" class="form-control" id="uspecialy" name="uspecialy" placeholder="Specialty (*)" maxlength="256">
                        </div> <!--Update Specialty -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-sharp fa-solid fa-briefcase"></i></span>
                            </div>
                            <input placeholder="Working start date (*)" type="text" class="form-control" id="uworkingstartdate" name="uworkingstartdate" onfocus="(this.type='date')" onblur="this.type='text'">
                        </div> <!--Update workingstartdate -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text custom-symbol"><i class="fa-sharp fa-solid fa-briefcase"></i></span>
                            </div>
                            <input placeholder="Working end date (*)" type="text" class="form-control" id="uworkingenddate" name="uworkingenddate" onfocus="(this.type='date')" onblur="this.type='text'">
                        </div> <!--Update workingenddate -->
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Update">
                            <btn id="btn-close-form-update" class="btn btn-secondary">Cancel</btn>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/admin/doctor")

}



