@using DoctorAppointmentSystem.Areas.Doctor.Models.ViewModels;
@model MemberDetailViewModel

@{
    ViewBag.Title = "MemberDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/Areas/Doctor/confirmedAppt.css" rel="stylesheet" />


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Infomation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="symtoms-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Symtoms</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="info-tab">
        <div class="col-12 col-sm-12 col-md-12 mt-4 mb-4 p-0 pt-4 d-flex justify-content-between flex-wrap">
            <div class="col-12 col-sm-12 col-md-8 info-wrapper" id="info-1">
                <span class="info-label">Personal Info</span>
                <div class="input-box">
                    <span>Full Name</span>
                    <p id="fullName">@Model.fullName</p>
                </div>
                <div class="input-box">
                    <span>Date of Birth</span>
                    <p id="dateOfBirth">@Model.dateOfBirth</p>
                </div>
                <div class="input-box">
                    <span>Gender</span>
                    <p id="gender">@Model.gender</p>
                </div>
                <div class="input-box">
                    <span>National ID</span>
                    <p id="gender">@Model.nationalID</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 d-flex justify-content-center mb-4 mb-sm-4 mb-md-0 custom-logo-wrapper" id="info-2">
                <div class="custom-site-logo">
                    <img id="profilePicture" src="@Model.avatar" alt="avatar" class="img-avatar" />
                </div>
            </div>

            <div class="col-md-12 info-wrapper" id="info-3">
                <span class="info-label">Contact</span>
                <div class="input-box">
                    <span>Email</span>
                    <p id="email">@Model.email</p>
                </div>
                <div class="input-box">
                    <span>Mobile</span>
                    <p id="phoneNumber">@Model.phoneNumber</p>
                </div>
                <div class="input-box">
                    <span>Address</span>
                    <p id="address">@Model.address</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 mb-4 info-wrapper row" id="info-4">
                <span class="info-label">Appointment Details</span>
                <div class="col-12 col-sm-12 col-md-4 pl-0 pl-sm-0 pl-md-0 pr-0 pr-sm-0 pr-md-2">
                    <div class="input-box">
                        <span>Mode of Consultant</span>
                        <p id="modeOfConsultant">@Model.modeOfConsutant</p>
                    </div>
                    <div class="input-box">
                        <span>Consultant Type</span>
                        <p id="consultantType">@Model.consultantType</p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8 pr-0 pl-0 row" style="padding-right: 0;">
                    <div class="col-6 col-sm-6 col-md-6 pl-0 pl-md-3">
                        <div class="input-box">
                            <span>Date of Consultation</span>
                            <p id="dateOfConsultation">@Model.dateOfConsultation</p>
                        </div>
                        <div class="input-box">
                            <span>Time</span>
                            <p id="consultationTime">@Model.consultationTime</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 pr-0">
                        <div class="input-box">
                            <span>Appointment Date</span>
                            <p id="appointmentDate">@Model.appointmentDate</p>
                        </div>
                        <div class="input-box">
                            <span>Time</span>
                            <p id="appointmentTime">@Model.appointmentTime</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="symtoms-tab">
        <div class="col-12 col-sm-12 col-md-12 info-wrapper" style="border: none">
            <div class="input-box">
                <span class="ml-3 pr-2 pl-2">Symtoms</span>
                <textarea class="form-control" id="symtoms" placeholder="Note down here any current symptoms (if any)..">@Model.symtoms</textarea>
            </div>
            <div class="input-box">
                <span class="ml-3 pr-2 pl-2">Existing Illness</span>
                <textarea class="form-control" id="existingIllness" placeholder="Note down here any existing illness (if any).">@Model.existingIllness</textarea>
            </div>
            <div class="input-box">
                <span class="ml-3 pr-2 pl-2">Drug Alergies</span>
                <textarea class="form-control" id="drugAlergies" placeholder="Note down here any drug allergies or allergies to any components of medications (if any).">@Model.drugAlergies</textarea>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger mr-3" id="btnCancel">Cancel Appointment</button>
        <button type="submit" form="appointmentForm" class="btn btn-primary mr-3" id="btnConfirm"> Confirm Appointment</button>
        <button type="button" class="btn btn-secondary" id="btnCancel">Back</button>
    </div>
</div>