
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doctor Appointment System</title>
    @Styles.Render("~/Content/fontawesome/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sweetalert/css")
    <link href="~/Content/css/profile.css" rel="stylesheet" />
    
</head>

<body>
    <div class="container rounded bg-white mt-5 mb-5 pt-2">
        <a id="btnGoToHome" role="button" class="text-muted btn-back-to-home" href="@ViewBag.backUrl">
            <i class="fa-solid fa-long-arrow-left"></i> <span class="text-weight-light">Back</span>
        </a>
        <div class="row custom-profile-wrapper">
            <div class="col-12 col-md-12">
                <div class="p3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="mt-2">
                        <form class="col-12 col-md-12 p-0" id="profileForm">
                            <div class="content-wrapper row">
                                <div class="form-group avatar-wrapper col-12 col-sm-12 col-md-4">
                                    <div class=" d-flex flex-wrap justify-content-center align-items-center flex-column custom-logo-wrapper">
                                        <div class="custom-site-logo">
                                            <img src="~/Uploads/default-user-image.png" id="profilePicture" alt="Your profile picture" class="img-avatar" />
                                        </div>
                                        <p class="mt-4 pr-5 pl-5 text-center" style="line-height: 1.2;">
                                            <small>
                                                <i>
                                                    "Personalize your account with a photo. Your profile photo will appear
                                                    on apps and devices that use your account."
                                                </i>
                                            </small>
                                        </p>
                                        <a id="btnChangePhoto" class="btn btn-secondary btn-m mt-3 text-light btn-change-img" role="button" onclick="document.getElementById('inputProfilePicture').click()">Change Photo</a>
                                        <input name="" id="inputProfilePicture" class="form-control" type="file" accept="image/*" style="display:none"> <!-- Profile picture -->
                                    </div>
                                </div>
                                <div class="info-wrapper col-12 col-sm-12 col-md-8">
                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-address-book"></i></span>
                                        </div>
                                        <input id="fullName" name="FullName" class="form-control custom-input" disabled autocomplete="off"
                                               placeholder="Full name (*)" type="text" pattern="^[\p{L}\p{N}\s]*$">
                                    </div> <!-- Full name -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        <input id="email" name="Email" class="form-control custom-input" disabled autocomplete="off"
                                               placeholder="Email address (*)" type="email">
                                    </div> <!-- Email -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-address-card"></i></span>
                                        </div>
                                        <input id="nationalID" name="NationalID" class="form-control custom-input" disabled autocomplete="off"
                                               placeholder="National ID (*)" type="text" pattern="^[a-zA-Z0-9]+$">
                                    </div> <!-- National ID -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"> <i class="fa fa-birthday-cake"></i> </span>
                                        </div>
                                        <input name="DataOfBirth" placeholder="Date of birth (*)" class="form-control custom-input" disabled autocomplete="off"
                                               type="text" id="dateOfBirth" onfocus="this.type='date'" onblur="this.type='text'">
                                    </div><!-- Date of birth -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
                                        </div>
                                        @Html.DropDownList("Gender", ViewBag.genders as SelectList, "Gender (*)", new { @class = "form-control custom-select gender", @id = "gender", @disabled = "disabled" })
                                    </div> <!-- Gender -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-phone"></i></span>
                                        </div>
                                        <input id="phoneNumber" name="PhoneNumber" class="form-control custom-input" disabled autocomplete="off"
                                               onkeypress="return validateNumber(event)" placeholder="Phone number (*)" type="text" maxlength="10">
                                    </div> <!-- Phone number -->

                                    <div class="form-group input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text custom-symbol"><i class="fa fa-home"></i></span>
                                        </div>
                                        <input id="address" name="" class="form-control custom-input" disabled autocomplete="off"
                                               placeholder="Address (*)" type="text" pattern="^[\p{L}\p{N}\s]*$">
                                    </div> <!-- Address -->
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 mt-5 d-flex justify-content-center">
                                    <a id="btnCancel" class="btn btn-danger mr-4 text-light" role="button">Cancel</a>
                                    <a id="btnSave" class="btn btn-success text-light" role="button">Save Changes</a>
                                    <a id="btnEdit" class="btn btn-primary text-light" role="button">Edit Profile</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert/js")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/js/validateInput.js"></script>
    <script src="~/Scripts/js/profile.js"></script>
</body>
</html>